
<div *ngIf="pessoa">
    <h2><span jhiTranslate="emprestimoApp.pessoa.detail.title">Pessoa</span> {{pessoa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="emprestimoApp.pessoa.nome">Nome</span></dt>
        <dd>
            <span>{{pessoa.nome}}</span>
        </dd>
        <dt><span jhiTranslate="emprestimoApp.pessoa.contato">Contato</span></dt>
        <dd>
            <span>{{pessoa.contato}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pessoa/'+ pessoa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
