<div class="row">
    <div class="col-md-3">
        <jhi-lembrete></jhi-lembrete>    
    </div>
    <div class="col-md-9">
        <div class="page-header">
            <h1 jhiTranslate="home.title">Home</h1>
            <small *ngIf="isAuthenticated()" jhiTranslate="home.welcomeMsg" translateValues="{name: '{{ account.firstName }}'}">Welcome, annonimous!</small>
        </div>        
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
        <div [ngSwitch]="isAuthenticated()">
            <div class="col-md-6">
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span *ngIf="account" jhiTranslate="home.logged.message"
                        translateValues="{login: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
