
<div *ngIf="item">
    <h2><span jhiTranslate="emprestimoApp.item.detail.title">Item</span> {{item.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="emprestimoApp.item.nome">Nome</span></dt>
        <dd>
            <span>{{item.nome}}</span>
        </dd>
        <dt><span jhiTranslate="emprestimoApp.item.descricao">Descricao</span></dt>
        <dd>
            <span>{{item.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
