
<div *ngIf="emprestimo">
    <h2><span jhiTranslate="emprestimoApp.emprestimo.detail.title">Emprestimo</span> {{emprestimo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="emprestimoApp.emprestimo.observacoes">Observacoes</span></dt>
        <dd>
            <span>{{emprestimo.observacoes}}</span>
        </dd>
        <dt><span jhiTranslate="emprestimoApp.emprestimo.devolvido">Devolvido</span></dt>
        <dd>
            <span>{{emprestimo.devolvido}}</span>
        </dd>
        <dt><span jhiTranslate="emprestimoApp.emprestimo.dataEmprestimo">Data Emprestimo</span></dt>
        <dd>
            <span>{{emprestimo.dataEmprestimo | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="emprestimoApp.emprestimo.pessoa">Pessoa</span></dt>
        <dd>
            <div *ngIf="emprestimo.pessoa">
                <a [routerLink]="['/pessoa', emprestimo.pessoa?.id]">{{emprestimo.pessoa?.nome}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="emprestimoApp.emprestimo.item">Item</span></dt>
        <dd>
            <div *ngIf="emprestimo.item">
                <a [routerLink]="['/item', emprestimo.item?.id]">{{emprestimo.item?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'emprestimo/'+ emprestimo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
