<div>
    <h2>
        <span jhiTranslate="emprestimoApp.emprestimo.home.title">Emprestimos</span>
        <button class="btn btn-primary float-right jh-create-entity create-emprestimo" [routerLink]="['/', { outlets: { popup: ['emprestimo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="emprestimoApp.emprestimo.home.createLabel">
            Create new Emprestimo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emprestimos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observacoes"><span jhiTranslate="emprestimoApp.emprestimo.observacoes">Observacoes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="devolvido"><span jhiTranslate="emprestimoApp.emprestimo.devolvido">Devolvido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataEmprestimo"><span jhiTranslate="emprestimoApp.emprestimo.dataEmprestimo">Data Emprestimo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pessoa.nome"><span jhiTranslate="emprestimoApp.emprestimo.pessoa">Pessoa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="item.nome"><span jhiTranslate="emprestimoApp.emprestimo.item">Item</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let emprestimo of emprestimos ;trackBy: trackId">
                <td><a [routerLink]="['../emprestimo', emprestimo.id ]">{{emprestimo.id}}</a></td>
                <td>{{emprestimo.observacoes}}</td>
                <td>{{emprestimo.devolvido}}</td>
                <td>{{emprestimo.dataEmprestimo | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="emprestimo.pessoa">
                        <a [routerLink]="['../pessoa', emprestimo.pessoa?.id ]" >{{emprestimo.pessoa?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emprestimo.item">
                        <a [routerLink]="['../item', emprestimo.item?.id ]" >{{emprestimo.item?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../emprestimo', emprestimo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'emprestimo/'+ emprestimo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'emprestimo/'+ emprestimo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
