<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmprestimoLabel" jhiTranslate="emprestimoApp.emprestimo.home.createOrEditLabel">Create or edit a Emprestimo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!emprestimo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="emprestimo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emprestimoApp.emprestimo.observacoes" for="field_observacoes">Observacoes</label>
            <input type="text" class="form-control" name="observacoes" id="field_observacoes"
                [(ngModel)]="emprestimo.observacoes"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emprestimoApp.emprestimo.devolvido" for="field_devolvido">Devolvido</label>
            <input type="checkbox" class="form-control" name="devolvido" id="field_devolvido"
                [(ngModel)]="emprestimo.devolvido"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emprestimoApp.emprestimo.dataEmprestimo" for="field_dataEmprestimo">Data Emprestimo</label>
            <div class="input-group">
                <input id="field_dataEmprestimo" type="text" class="form-control" name="dataEmprestimo" ngbDatepicker  #dataEmprestimoDp="ngbDatepicker" [(ngModel)]="emprestimo.dataEmprestimo"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dataEmprestimoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dataEmprestimo?.dirty && editForm.controls.dataEmprestimo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataEmprestimo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="emprestimoApp.emprestimo.pessoa" for="field_pessoa">Pessoa</label>
            <select class="form-control" id="field_pessoa" name="pessoa" [(ngModel)]="emprestimo.pessoa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pessoaOption.id === emprestimo.pessoa?.id ? emprestimo.pessoa : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.nome}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="emprestimoApp.emprestimo.item" for="field_item">Item</label>
            <select class="form-control" id="field_item" name="item" [(ngModel)]="emprestimo.item" >
                <option [ngValue]="null"></option>
                <option [ngValue]="itemOption.id === emprestimo.item?.id ? emprestimo.item : itemOption" *ngFor="let itemOption of items; trackBy: trackItemById">{{itemOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
