<div class="panel panel-info" *jhiHasAnyAuthority="'ROLE_ADMIN'">
  <div class="panel-heading">
    <h4 class="panel-title" jhiTranslate="lembretes.title">Messages</h4>
  </div>
  <div class="panel-body">
    <div class="alert alert-warning" *ngFor="let lembrete of lembretes">
        <a [routerLink]="['../../emprestimo', lembrete.id ]" jhiTranslate="lembretes.alert" style="color: #FFFFFF; font-weight: bold;"
        translateValues="{pessoa: '{{ lembrete.pessoa.nome }}', item: '{{ lembrete.item.nome }}'}">
            {{ lembrete.pessoa.nome }} owes you {{ lembrete.item.nome }} 15 days ago or more.
        </a>
    </div>
    <div class="alert alert-info" *ngIf="lembretes === null || lembretes.length === 0" jhiTranslate="lembretes.noItems"></div>
  </div>
</div>
